In [2]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt  

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [3]:
df.info(0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785741 entries, 0 to 785740
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785741 non-null  object
 1   job_title              785740 non-null  object
 2   job_location           784696 non-null  object
 3   job_via                785733 non-null  object
 4   job_schedule_type      773074 non-null  object
 5   job_work_from_home     785741 non-null  bool
 6   search_location        785741 non-null  object
 7   job_posted_date        785741 non-null  datetime64[ns]
 8   job_no_degree_mention  785741 non-null  bool
 9   job_health_insurance   785741 non-null  bool
 10  job_country            785692 non-null  object
 11  salary_rate            33067 non-null   object
 12  salary_year_avg        22003 non-null   float64
 13  salary_hour_avg        10662 non-null   float64
 14  company_name           785723 non-null  object
 15  job_skills             668704 non-null  object
 16  job_type_skills        668704 non-null  object
dtypes: bool(3), datetime64[ns](1), float64(2), object(11)
memory usage: 86.2+ MB

In [4]:
median_salary_year_avg = df['salary_year_avg'].median()
median_salary_hour = df['salary_hour_avg'].median()
print(f"Median Salary Year Avg: {median_salary_year_avg} , Median Salary Hour Avg: {median_salary_hour}")

Median Salary Year Avg: 115000.0 , Median Salary Hour Avg: 45.97999954223633

In [5]:
df_filled = df
df_filled['salary_year_avg'] = df_filled['salary_year_avg'].fillna(median_salary_year_avg)
df_filled['salary_hour_avg'] = df_filled['salary_hour_avg'].fillna(median_salary_hour)
df_filled.loc[:,'salary_year_avg':'salary_hour_avg']

        salary_year_avg  salary_hour_avg
0              115000.0            45.98
1              115000.0            45.98
2              115000.0            45.98
3              115000.0            45.98
4              115000.0            45.98
...                 ...              ...
785736         115000.0            45.98
785737         115000.0            45.98
785738         115000.0            45.98
785739         115000.0            45.98
785740         115000.0            45.98

[785741 rows x 2 columns]

In [6]:
df_unique = df_filled
df_unique = df_unique.drop_duplicates()

print ('lenght of original df:', len(df_filled)
         ,'\nlenght of df after removing duplicates:', len(df_unique)
            ,'\nnumber of duplicates removed:', len(df_filled) - len(df_unique))

lenght of original df: 785741
lenght of df after removing duplicates: 785640
number of duplicates removed: 101

In [7]:
df_unique = df_unique.drop_duplicates(subset=['job_title', 'company_name'])

print ('lenght of original df:', len(df_filled)
         ,'\nlenght of df after removing duplicates:', len(df_unique)
            ,'\nnumber of duplicates removed:', len(df_filled) - len(df_unique))

lenght of original df: 785741
lenght of df after removing duplicates: 508042
number of duplicates removed: 277699

In [8]:
df_unique.info(0)

<class 'pandas.core.frame.DataFrame'>
Index: 508042 entries, 0 to 785740
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        508042 non-null  object
 1   job_title              508041 non-null  object
 2   job_location           507389 non-null  object
 3   job_via                508042 non-null  object
 4   job_schedule_type      499091 non-null  object
 5   job_work_from_home     508042 non-null  bool
 6   search_location        508042 non-null  object
 7   job_posted_date        508042 non-null  datetime64[ns]
 8   job_no_degree_mention  508042 non-null  bool
 9   job_health_insurance   508042 non-null  bool
 10  job_country            507997 non-null  object
 11  salary_rate            20620 non-null   object
 12  salary_year_avg        508042 non-null  float64
 13  salary_hour_avg        508042 non-null  float64
 14  company_name           508027 non-null  object
 15  job_skills             424837 non-null  object
 16  job_type_skills        424837 non-null  object
dtypes: bool(3), datetime64[ns](1), float64(2), object(11)
memory usage: 59.6+ MB